@tailwind base;
@tailwind components;
@tailwind utilities;

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
}

input[type=number] {
  -moz-appearance: textfield;
}

.bgLogin{
  background-image: url('https://images.alphacoders.com/113/thumb-1920-1130458.png');
  background-position: center;
}