@tailwind base;
@tailwind components;
@tailwind utilities;

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
}

input[type=number] {
  -moz-appearance: textfield;
}

.bgLogin{
  background-image: url('https://images.alphacoders.com/113/thumb-1920-1130458.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgEtalase{
  background-image: url('https://c4.wallpaperflare.com/wallpaper/964/600/925/ghost-pixel-art-pixels-wallpaper-preview.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.bgRegister{
  background-image: url('https://img.freepik.com/free-photo/gradient-technology-background_23-2151895843.jpg?t=st=1735840786~exp=1735844386~hmac=afb1d0379c0c3a854530844d0c58731092d7def82d035fd7326b81daf21e1a82&w=2000');
  background-repeat: no-repeat;
  background-size: cover;
}